.card {
  float: left;
  border: solid 1px #777;
  width: auto;
  border-radius: 5px;
  height: auto;
  margin-left: 40px;
}
.covered {
  content:url('../img/card-back.png');
}
.hand {
  overflow: auto;
}
body{
  font-family: sans-serif;
  background-image:url('../img/redbg.jpg');
  color: white;
  font-weight: 100;
  margin: 0px;
}
.container {
  margin: 0 auto;
}
.chips-container {
  height: 100px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  font-size: 20px;
  text-align: center;

}
.chips{
  font-size: 60px;
  margin-top: 5px;
  font-weight: 900;
  text-align: center;
  letter-spacing: 3px;
}
.gameHead{
  height: 100px;
  font-size: 40px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
.button-container {
  position: relative;
  height: 100px;
}
.result-container{
  height:100px;
  font-size: 40px;
  font-weight: 100;
  text-align: center;
  margin-bottom:10px;
  /*border:1px solid white;*/
}
.game-info {
  padding:40px 30px;
  float: left;
  display: inline-block;
  width:200px;
  height: 100%;
  background-color: rgba(30,30,30, .7);
  margin-right: 40px;
  border-right: 1px solid #222;
}

.hand-box{
  margin-top:30px;
  float:left;
  display: inline-block;
}

.hit-button,.stand-button,.new-game-button{
  height: 60px;
  clear:both;
  display:block;
  margin-top: 15px;
  width: 100%;
  font-weight: 700;
  font-size: 20px;
  border-radius: 10px;
  outline:none;
}

